<div class="dashboard-container">
  <header class="topbar">
    <h2>Food Dashboard</h2>
    <button mat-raised-button color="primary" (click)="logout()">Logout</button>
  </header>

  <div class="food-grid">
    <mat-card class="food-card" *ngFor="let food of foods">
      <div class="food-icon">{{ food.image }}</div>
      <div>
      <mat-card-content>
        <h3>{{ food.name }}</h3>
        <p class="category">{{ food.category }}</p>
        <p class="price">₹{{ food.price }}</p>
      </mat-card-content>
      </div>
      <mat-card-actions>
        <button mat-button color="primary" (click)="goToCart(food)">Order Now</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
